[user]
  name = SusuMantan
  email = suzumantan@gmail.com
[init]
  defaultBranch = main
[includeIf "gitdir:~/koyoi/"]
  path = ~/koyoi/.gitconfig
[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig
